body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
}

button{
    background-color: burlywood;
    color:black;
    border:none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover{
    background-color: chocolate;
}

button:disabled{
    background-color: lightgray;
    cursor: not-allowed;
}